<launch>

  <arg name="spin_rate" default="990" />
  <arg name="filter" default="15" />

  <node name="left" pkg="force_sensor_ati" type="force_sensor_ati_node" output="screen" >
    <param name="spin_rate" value="$(arg spin_rate)" />
    <param name="port_id" value="1"/>
    <param name="filter" value="$(arg filter)" />
  </node>

  <node name="right" pkg="force_sensor_ati" type="force_sensor_ati_node" output="screen" >
    <param name="spin_rate" value="$(arg spin_rate)" />
    <param name="port_id" value="2"/>
    <param name="filter" value="$(arg filter)" />
  </node>

  <arg name="yamlFile" default="$(find force_sensor_ati)/conf/config.yaml"/>

  <arg name="file_results" default="results.txt"/>
 
  <node name="forces" pkg="force_sensor_ati" type="merge_forces" output="screen">
    <param name="spin_rate" value="$(arg spin_rate)" />
    <rosparam command="load" file="$(arg yamlFile)"/>
    <param name="file_results" value="$(arg file_results)" />
  </node>


</launch>
